body {
    font-family: 'Sora', sans-serif;
    background-color: #f5d0d7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #d08b96;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.logo-and-title img {
    width: 50px;
    margin-right: 10px;
}

.logo-and-title h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

/* Estilização da seção de login */
.login-section {
    display: flex;
    align-items: center;
}

.login-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login-link img {
    width: 60px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
}

.login-link span {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

/* Estilo da seção principal */
.main {
    flex: 1;
    padding: 30px;
    text-align: center;
}

.main h2 {
    font-size: 28px;
    color: #333;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões na página */
    margin-top: 20px;
}

.button {
    background-color: #D496A7;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #c38492; /* Muda a cor ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o botão */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

/* Estilo da seção de pets */
.pets-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.pet-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
}

.pet-card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    font-weight: 600;
}

/* Estilo do rodapé */
.footer {
    background-color: #D496A7;
    padding: 20px;
    text-align: center;
    color: #555;
    font-weight: 400;
}

.back-button button {
    background-color: #D496A7; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Sora', sans-serif;
}

.back-button button:hover {
    background-color: #c38492; /* Efeito hover: altera a cor de fundo */
    transform: scale(1.05); /* Efeito hover: aumenta ligeiramente o botão */
}

.back-button {
    display: flex;
    justify-content: flex-start; /* Alinha o botão à esquerda */
    margin: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

.form-group input[type="file"] {
    padding: 5px;
}

button[type="submit"] {
    width: 100%;
    background-color: #D496A7;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #c38492;
    transform: scale(1.05);
}

#message {
    margin-top: 20px;
    color: #333;
    font-weight: 600;
}
