<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas - PetMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/dicas.css">

</head>

<body>

    <div class="header">
        <div class="logo-and-title">
            <img src="../imgs/Design sem nome.svg" alt="Logo">
            <h1>PetMatch</h1>
        </div>

    </div>

    <div class="back-button">
        <button onclick="window.location.href='index.html'">Voltar</button>
    </div>
    <main class="main">
        <h2 class ="titulo">Dicas e cuidados</h2>
        <section class="tip-section">
            <h2>Cuidados ao escolher parceiro para seu pet</h2>
            <p>
                Escolher o parceiro certo para seu pet exige atenção a aspectos como saúde, temperamento e necessidades
                específicas. Certifique-se de que ambos os animais tenham acompanhamento veterinário e estejam vacinados.
            </p>
            <p>
                Observe o comportamento do seu pet ao interagir com outros animais. A socialização deve ser feita
                gradualmente, garantindo um ambiente seguro e confortável.
            </p>
            <p>
                Caso esteja pensando em cruzar seu pet, consulte um profissional para avaliar a saúde de ambos os animais
                e evitar possíveis problemas genéticos.
            </p>
        </section>
        <section class="tip-section">
            <h2>Dicas ao Adotar</h2>
            <p>
                Antes de adotar, analise se você tem tempo e recursos para cuidar de um animal de estimação. Adotar é um
                compromisso de longo prazo que exige dedicação e carinho.
            </p>
            <p>
                Considere adotar de abrigos ou ONGs locais, onde muitos animais estão esperando por um lar amoroso.
                Converse com os responsáveis e conheça o histórico do animal.
            </p>
            <p>
                Lembre-se de preparar sua casa para receber o novo membro da família. Um espaço adequado, brinquedos e
                itens básicos, como ração e cama, são fundamentais para o bem-estar do pet.
            </p>
        </section>
        <section class="tip-section">
            <h2>Como preparar sua casa para um pet</h2>
            <p>
                Preparar sua casa para a chegada de um pet é essencial para garantir segurança e conforto. Comece
                identificando áreas perigosas, como tomadas expostas e objetos pequenos que possam ser engolidos.
            </p>
            <p>
                Crie um espaço exclusivo para seu pet, onde ele possa descansar e se sentir seguro. Inclua uma cama
                confortável, tigelas para água e ração, e brinquedos adequados.
            </p>
            <p>
                Adapte os espaços compartilhados, removendo itens que possam ser danificados ou perigosos. Lembre-se de
                verificar se o ambiente é adequado para o tamanho e as necessidades do animal.
            </p>
        </section>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2024 PetMatch. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>