body {
    font-family: 'Sora', sans-serif;
    background-color: #f5d0d7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #d08b96;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.logo-and-title h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

.back-link {
    text-decoration: none;
    color: #888;
    font-size: 18px;
    margin-right: auto;
}

.login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-icon img {
    width: 80px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-btn {
    background-color: #D496A7;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}



.signup-btn {
    background-color: white;
    color: #D496A7;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #D496A7;
    text-decoration: none;
    font-size: 16px;
}

.signup-btn:hover,
.login-btn:hover {
    opacity: 0.8;
}

.footer {
    background-color: #D496A7;
    padding: 20px;
    text-align: center;
    color: #555;
    font-weight: 400;
}

@media (max-width: 1200px) {
   
    .footer {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
}
.footer {
    font-size: 14px;
}
@media (max-width: 600px) {

    .footer {
        font-size: 12px;
    }
}

